@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.app {
  width: 100%;
  height: 100vh;
  font-family: Poppins;
}

.header {
  background: #212529;
  padding: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}
.header > .header-about{
  display: flex;
}
.header > .header-about > h5{
  padding: 10px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.section {
  text-align: center; /* Adiciona alinhamento central */
  margin-bottom: 5px; /* Adiciona espaçamento entre as seções */
}


.specify-contact{
  display: flex;
  justify-content: space-between;
  
  flex-direction: row;
}

.specify-contact > a{
  padding: 0 10px;
}

.test{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}